.Navbar {
    width: 100%;
    height: 2.5rem;
    background: #323232;
    display: flex;
    justify-content: center;
    align-items: center;

    .logo img,.search img,.cart img {width: 28px; height: 28px;}

    .kategori { 
        display: none;
        ul li {
            display: inline;
            color: #D4D4D4;
            margin-right: 3rem;
            margin-left: 3rem;
        }
    }

    .search {
        margin-right: 3rem;

        input {
            display: block;
        }
    }

    .burger {
        cursor: pointer;
        width: fit-content;
        transition: 300ms ease-in-out;
        // padding: .5em .8em;
    
        &:hover {
            opacity: .8;
        }
    
        .bar1, .bar2, .bar3 {
            width: 20px;
            height: 2px;
            margin: 6px 0;
            background: whitesmoke;
            transition: all 300ms ease-in-out;
        
            &.bar1.change {
                transform: rotate(-45deg) translate(-50%, 50%);
            }
        
            &.bar2.change {
                opacity: 0;
            }
        
            &.bar3.change {
                transform: rotate(45deg) translate(-50%, -50%);
            }
        }
        @media(min-width: 766px) {
            display: none;
        }
    }
}

@media (max-width: 768px) {
    .Navbar {
        justify-content: space-around;
        .kategori {
            display: block;
            position: absolute;
            background: #323232;
            align-self: flex-start;
            margin-top: 2rem;
            padding-top: 2rem;
            width: 100%;
            height: 100%;
            ul li {
                display: block;
                position: relative;
                padding-top: 1rem;
                padding-bottom: 1rem;
            }
        }
        .search img{
            display: block;
            position: relative;
            // margin-top: 4rem;
        }
    }
}